body {
	background: url("rainbow_background.jpg") no-repeat;
	background-size: auto auto;
	background-attachment: fixed;
}

.form-control {
	width: 50%;
}

.nav-title {
	font-family: 'Abril Fatface', cursive;
}

.navbar-header .nav-title:hover, .navbar-header .nav-title:focus {
	background: #337ab7;
	color: #fff;
}

.navbar-collapse .navbar-nav li a:hover, .navbar-collapse .navbar-nav li a:focus
	{
	color: #fff;
	background: #337ab7;
}